.menu {
    position: relative;
    width: 300px;
    min-width: 320px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px;
}

.disabled_button {
    background: rgba(42, 56, 65, 0.82);
    color: #2f89fc;
}

#toggle:checked ~ h3 {
    border-radius: 10px;
}

nav h3 {
    border-radius: 10px 10px 2px 2px;
    position: relative;
    height: 40px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    background-color: #2A3942;
}

nav:hover h3 {
    transform: translateY(-2px);
}

nav:hover:active h3 {
    transform: translateY(10px);
}

input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
}

#toggle:checked ~ ul {
    height: 0%;
}

nav ul {
    background-color: #1E2B32;
    padding-left: 0;
    padding-top: 0;
    margin-top: -20px;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all .4s ease-out;
    height: 180px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

}

nav ul li {
    border-radius: 0px;
    position: relative;
    display: inline-block;
    margin-left: 35px;
    line-height: 1.7;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    transition: background 3s;
}

nav ul li:hover {
    background: rgba(42, 56, 65, 0.82);
    color: #2f89fc;
    transition: .45s all;
}

nav ul a:hover {
    color: #2f89fc;
    transition: .45s all;
}

nav ul a {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    transition: color .3s;
}

