.contentbox {
    top: 20px;
    height: 100%;
    width: 60%;
    position: relative;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
}

.contentbox h3 {
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.contentbox h2 {
    margin: 0;
    color: rgb(50,50,50);
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.6);
    border: 1.5px solid black;
}

.contentbox p {
    text-align: center;
    font-size: 17px;
    margin: 3%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


.contentbox video{
    margin: 3%;
    display: block;
    margin: auto;
}

.contentbox th {
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
}

.sidebox {
    top: 20px;
    right: 20px;
    height: 1500px;
    width: 18%;
    position: absolute;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
}

.sidebox img{
    display: block;
    margin: auto;
}

.sidebox h3{
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
