.contentbox {
    top: 20px;
    height: 100%;
    width: 60%;
    float: left;
    position: relative;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
    overflow: hidden;
}

.contentbox h3 {
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.contentbox h2 {
    margin: 0;
    color: rgb(50,50,50);
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.6);
    border: 1.5px solid black;
}

.contentbox h1 {
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.contentbox p {
    text-align: center;
    font-size: 17px;
    margin: 3%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.contentbox p a {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


.contentbox video{
    margin: 3%;
    display: block;
    margin: auto;
}

.contentbox th {
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
}

.sidebox {
    top: 20px;
    height: 1500px;
    width: 17.5%;
    position: relative;
    margin: 20px 1%;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
    float: left;
    overflow: hidden;
}
.sidebox th{
    margin: 0;
}

.sidebox img{
    display: block;
    margin: auto;
}

.sidebox h3{
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#invisible{
    border: hidden;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
#invisible img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}