.menu {
    position: relative;
    width: 300px;
    min-width: 320px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px;
}

.disabled_button {
    background: rgba(42, 56, 65, 0.82);
    color: #2f89fc;
}

#toggle:checked ~ h3 {
    border-radius: 10px;
}
nav{
    position: relative;
    float:left;
    margin: 0 20px 0;
}
nav h3 {
    border-radius: 10px 10px 2px 2px;
    position: relative;
    height: 40px;
    text-transform: uppercase;
    color: ivory;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
}

nav h3 img {
    position: relative;
    margin-left: -20px;
    margin-top: 0;
}

nav:hover h3 {
    transform: translateY(-2px);
    background-color: rgba(255,255,255,0.3);
}

nav:hover:active h3 {
    transform: translateY(10px);
    background-color: rgba(67, 124, 255,0.3);
}


.contentbox {
    top: 20px;
    height: 100%;
    width: 60%;
    position: relative;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
}

.contentbox h3 {
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.contentbox h2 {
    margin: 0;
    color: rgb(50,50,50);
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.6);
    border: 1.5px solid black;
}

.contentbox p {
    text-align: center;
    font-size: 17px;
    margin: 3%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


.contentbox video{
    margin: 3%;
    display: block;
    margin: auto;
}

.contentbox th {
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
}

.sidebox {
    top: 20px;
    right: 20px;
    height: 1500px;
    width: 18%;
    position: absolute;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border: 1.5px solid black;
}

.sidebox img{
    display: block;
    margin: auto;
}

.sidebox h3{
    margin: 2%;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

input {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 45px;
}

#toggle:checked ~ ul {
    height: 0%;
    border: 0px solid black;
}

nav ul {
    background-color: rgba(0,0,0,0.3);
    padding-left: 0;
    padding-top: 0;
    margin-top: -20px;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all .4s ease-out;
    height: 180px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border: 1.5px solid black;
}

nav ul li {
    border-radius: 0px;
    position: relative;
    display: inline-block;
    margin-left: 35px;
    line-height: 1.7;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    transition: background 3s;
}

nav ul li img {
    position: absolute;
    margin-left: -30px;
    margin-top: 5px;
}

nav ul li:hover {
    background: rgba(42, 56, 65, 0.82);
    color: #2f89fc;
    transition: .45s all;
}

nav ul a:hover {
    color: #2f89fc;
    transition: .45s all;
}

nav ul a {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    transition: color .3s;
}

